<!-- Footer -->
<footer class="footer py-3 fixed-bottom">
    <ul class="nav justify-content-center pb-1 mb-1">
        <!-- Dunkhead Links -->
        <li class="nav-item"><a href="/about" class="nav-link px-2 text-body-secondary">about</a></li>
        <li class="nav-item"><a href="/skateshops" class="nav-link px-2 text-body-secondary">skateshops</a></li>
        <li class="nav-item"><a href="/terminology" class="nav-link px-2 text-body-secondary">terminology</a></li>
        <li class="nav-item"><a href="/contact" class="nav-link px-2 text-body-secondary">contact</a></li>
    </ul>
    <!-- Date -->
    <p id="footer-date" class="text-center text-body-secondary"></p>
    <!-- Dunkhead Copyright -->
    <p class="text-center text-body-secondary">dunkhead &copy; 2023</p>
</footer>

<!-- -------------------- References -------------------- 
    Bootstrap Footer - https://getbootstrap.com/docs/5.3/examples/footers/
    Bootstrap Positions - https://getbootstrap.com/docs/5.0/helpers/position/
-->