<div class="terms">

</div>

<!-- -------------------- References --------------------
    Sneaker Terminology - https://www.theestablished.com/style/fashion/the-essential-guide-to-sneaker-terminology
    Sneaker Terminology - https://thesolesupplier.co.uk/news/kicktionary-50-terms-that-every-sneakerhead-should-know/
-->